.skip-links {
  height: 0;
  padding: 0;
  overflow: hidden;

  &:focus-within {
    height: auto;
    padding: 0.5rem 2.5rem;
    overflow: auto;
    background-color: var(--new-color-bg-default);
    border-bottom: 1px solid var(--new-color-border-default);
  }

  & ul {
    margin: 0;
    list-style: none;
  }
}
