@use '../../styles/mixins';

$inverted-secondary-border: rgb(255 255 255 / 50%);
$inverted-secondary-bg-hover: rgb(255 255 255 / 10%);
$btn-height: 2.5rem;
$btn-height-small: 2.25rem;

@mixin button-variant(
  $background,
  $border,
  $color,
  $background-h,
  $border-h,
  $color-h,
  $background-d: var(--color-bg-disabled),
  $border-d: var(--color-bg-disabled),
  $color-d: var(--color-text-disabled)
) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &.btn--is-active:not(:disabled, [aria-disabled='true']),
  &:active:not(:disabled, [aria-disabled='true']),
  &.btn--is-hovered:not(:disabled, [aria-disabled='true']),
  &:hover:not(:disabled, [aria-disabled='true']) {
    background-color: $background-h;
    border-color: $border-h;
  }

  &:disabled {
    color: $color-d;
    background-color: $background-d;
    border-color: $border-d;
  }
}

@mixin button-secondary-variant(
  $border,
  $color,
  $border-h,
  $color-h,
  $background-h,
  $background-d: var(--color-bg-disabled),
  $border-d: var(--color-bg-disabled),
  $color-d: var(--color-text-disabled)
) {
  @include button-variant(
    var(--color-white),
    $border,
    $color,
    $background-h,
    $border-h,
    $color-h,
    $background-d,
    $border-d,
    $color-d
  );
}

@mixin link-variant($color, $color-h, $color-d) {
  color: $color;

  &.btn--is-hovered:not(:disabled, [aria-disabled='true']),
  &.btn--is-active:not(:disabled, [aria-disabled='true']),
  &:hover:not(:disabled, [aria-disabled='true']),
  &:active:not(:disabled, [aria-disabled='true']) {
    color: $color-h;
  }

  &:disabled {
    color: $color-d;
  }
}

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: $btn-height;
  padding: 0 1.625rem; // 0 26px
  margin: 0;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-image: none;
  border-style: solid;
  border-width: 1px;
  border-radius: 3rem;
  transition: 150ms ease;
  transition-property: background-color, border-color;

  @include mixins.print-grayscale;
}

.btn:disabled,
.btn[aria-disabled='true'] {
  cursor: auto;
}

.btn--small {
  height: $btn-height-small;
  padding: 0 1.125rem; // 0 18px
  font-size: 0.875rem; // 14px
  line-height: 1.5rem; // 20px

  &.btn--icon-only {
    width: $btn-height-small;
  }
}

.btn--icon-only {
  width: $btn-height;
  padding: 0;
}

.btn--default {
  &.btn--primary {
    @include button-variant(
      var(--color-primary-main),
      var(--color-primary-main),
      var(--color-text-inverted),
      var(--color-primary-active),
      var(--color-primary-active),
      var(--color-text-inverted)
    );
  }

  &.btn--secondary {
    @include button-secondary-variant(
      var(--color-border-contrast),
      var(--color-primary-main),
      var(--color-primary-main),
      var(--color-primary-active),
      var(--color-primary-highlight-subtle)
    );
  }
}

.btn--error {
  &.btn--primary {
    @include button-variant(
      var(--color-important-main),
      var(--color-important-main),
      var(--color-text-inverted),
      var(--color-important-active),
      var(--color-important-active),
      var(--color-text-inverted)
    );
  }

  &.btn--secondary {
    @include button-secondary-variant(
      var(--color-border-contrast),
      var(--color-important-main),
      var(--color-important-main),
      var(--color-important-active),
      var(--color-important-highlight)
    );
  }
}

.btn--success {
  &.btn--primary {
    @include button-variant(
      var(--color-positive-main),
      var(--color-positive-main),
      var(--color-text-inverted),
      var(--color-positive-active),
      var(--color-positive-active),
      var(--color-text-inverted)
    );
  }

  &.btn--secondary {
    @include button-secondary-variant(
      var(--color-border-contrast),
      var(--color-positive-main),
      var(--color-positive-main),
      var(--color-positive-active),
      var(--color-positive-highlight)
    );
  }
}

.btn--inverted {
  &.btn--primary {
    @include button-variant(
      var(--color-primary-highlight),
      var(--color-primary-highlight),
      var(--color-primary-active),
      var(--color-white),
      var(--color-white),
      var(--color-primary-main)
    );
  }

  &.btn--secondary {
    /* used text color as border, because we don't want to add new border variable */
    @include button-variant(
      var(--color-transparent),
      $inverted-secondary-border,
      var(--color-text-inverted),
      $inverted-secondary-bg-hover,
      var(--color-text-inverted),
      var(--color-text-inverted),
      var(--color-transparent),
      var(--color-text-disabled)
    );
  }

  &.btn--link {
    @include link-variant(var(--color-text-inverted), var(--color-text-inverted), var(--color-text-disabled));
  }
}

.btn--text-color {
  &.btn--link {
    @include link-variant(inherit, var(--color-text-subtle), var(--color-text-disabled));
  }
}

.btn--link {
  display: inline-block;
  width: auto;
  height: auto;
  padding: 0;
  color: var(--color-primary-main);
  text-decoration: none;
  background: none;
  border: none;
  border-radius: 3px;

  @include link-variant(var(--color-primary-main), var(--color-primary-active), var(--color-text-disabled));
}

.btn__text {
  text-align: start;

  .btn--link.btn--is-hovered:not(:disabled) &,
  .btn--link.btn--is-active:not(:disabled) &,
  .btn--link:hover:not(:disabled) &,
  .btn--link:active:not(:disabled) & {
    text-decoration: underline;
  }

  .btn--is-loading & {
    color: var(--color-transparent);
  }
}

.btn__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 1.5rem;
  min-height: 1.5rem;
}

.btn__icon {
  &--left {
    margin-right: 0.5rem;

    .btn--small & {
      margin-right: 0.25rem;
    }
  }

  &--right {
    margin-left: 0.5rem;

    .btn--small & {
      margin-left: 0.25rem;
    }
  }
}

.btn--underline {
  text-decoration: underline;
}

.btn--icon-only .btn__text {
  @include mixins.visually-hidden;
}

.btn--no-style {
  @include mixins.button-reset;
}
