/* stylelint-disable selector-id-pattern, selector-max-id, selector-no-qualifying-type */
@use './mixins';

html {
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: var(--font-line-height-base);
  color: var(--color-text-default);
}

html,
body {
  height: 100%;
  background-color: var(--color-bg-subtle);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * To overwrite behavior of focus outline
 * Set '--global-outline-color' and '--global-outline-offset' inside component scope
 */
*:where(:focus) {
  border-radius: 0.25rem;
  outline: 2px solid var(--global-outline-color, var(--color-primary-main));
  outline-offset: var(--global-outline-offset, 1px);

  html:not([data-whatintent='keyboard']) & {
    outline: none;
  }
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
dl,
dd,
ul {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

ol,
ul {
  margin: 0.25rem 0;
  list-style-position: inside;
}

ol.public-DraftStyleDefault-ul,
ul.public-DraftStyleDefault-ul {
  list-style-position: outside;
}

button {
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

.scroll-disabled {
  @include media-breakpoint-down(lg) {
    height: 100%;
    overflow-y: hidden;
  }
}
