$breaks: ('auto', 'avoid', 'avoid-column', 'avoid-page', 'avoid-region');

@media print {
  html {
    font-size: 14px;
  }

  body {
    background-color: var(--color-white);
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact; // needed for Edge. Isn't added automatically by autoprefixer
  }

  a {
    filter: grayscale(1);
  }

  .no-print:not(.show-print) {
    display: none !important;
  }

  @each $break in $breaks {
    .break-before-#{$break} {
      break-before: #{$break};
    }

    .break-after-#{$break} {
      break-after: #{$break};
    }

    .break-inside-#{$break} {
      break-inside: #{$break};
    }
  }
}
