/* Helper classes for storybook examples */

.example-box {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgb(39 41 43 / 3%);
  border: 1px solid rgb(39 41 43 / 10%);
}

.example-row + .example-row {
  margin-top: 0.75rem;
}

/* text-editor-example **/
.text-editor-example li {
  margin-left: 1.5rem; // to match with draft.js implementation
}

pre {
  padding: 1rem;
  border: 1px solid var(--color-borders-dark);
  border-radius: 3px;
}

code {
  padding: 0 3px;
  font-family: courier, monospace;
  background-color: var(--color-primary-1);
  border-radius: 3px;
}
