/* Helper classes for storybook examples */

.example-box {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgb(39 41 43 / 3%);
  border: 1px solid rgb(39 41 43 / 10%);
}

.example-row + .example-row {
  margin-top: 0.75rem;
}

/* text-editor-example **/
.text-editor-example li {
  margin-left: 1.5rem; // to match with draft.js implementation
}

pre {
  padding: 1rem;
  white-space: pre-line;
  border: 1px solid var(--color-borders-dark);
  border-radius: 3px;
}

.function {
  white-space: break-spaces;
}

code {
  padding: 4px;
  white-space: nowrap;
  background-color: var(--color-primary-1);
  border-radius: 4px;
}

a {
  color: var(--color-primary);
  text-decoration: none;

  &:where(:hover),
  &:where(:focus-visible) {
    text-decoration: underline;
  }
}

iframe {
  display: block;
}

.not-found {
  background: linear-gradient(137.5deg, rgb(255 248 233 / 0%) 33.36%, #fff1d3 88.42%);
}

.not-found__image {
  display: block;
  align-self: flex-end;
  max-height: 50rem;
  object-fit: cover;
}
