@use '../../../styles/mixins';

.check {
  position: relative;
  display: inline-flex;
  align-items: center;

  @include mixins.print-grayscale;

  &:hover:not(.check--disabled) {
    cursor: pointer;
  }
}

.check__input {
  @include mixins.visually-hidden;
}

.check__indicator {
  position: relative;
  display: inline-block;
  min-width: 1.125rem;
  height: 1.125rem;
  margin-right: 0.625rem;
  background-color: var(--color-bg-default);
  border: 1px solid var(--color-border-contrast);
  border-radius: 2px;
  transition: 150ms ease;
  transition-property: background-color, border-color;

  .check__input:not(:disabled) + &--hover,
  .check__input:hover:not(:disabled) + &,
  .check__input:focus:not(:disabled) + & {
    border-color: var(--color-primary-main);
    outline: var(--color-primary-main) solid 1px;
  }

  .check__input:focus-visible:not(:disabled) + & {
    border-color: var(--color-primary-main);
    outline: var(--color-primary-main) solid 2px;
    outline-offset: 2px;
  }

  [type='checkbox']:checked + &,
  &--indeterminate {
    background: var(--color-primary-main);
    border-color: var(--color-primary-main);
  }

  .check__input:disabled + & {
    background-color: var(--color-bg-disabled);
  }
}

.check__icon {
  position: absolute;
  color: var(--color-text-inverted);
  opacity: 0;
  transition: opacity 150ms ease;

  [type='checkbox']:checked + .check__indicator &--check,
  .check__indicator--indeterminate &--indeterminate {
    opacity: 1;
  }
}

.check__extra-content {
  padding-bottom: 1rem;
  padding-left: 1.75rem;
}
