@use '../../styles/mixins';

.colors-wrapper {
  max-width: 1200px;
  margin: auto;
}

.color {
  width: 200px;
}

.color__example {
  width: 100%;
  height: 120px;
  border-radius: 0.25rem;
  transition: transform 0.2s ease-in;

  &:hover {
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
    transform: scale(1.025);
  }

  @include mixins.button-reset;
}

.color__text {
  @include mixins.button-reset;

  text-align: left;
  transition: transform 0.2s ease-in;

  &:hover {
    color: var(--new-color-black);
    transform: scale(1.05);
  }
}
