@use '../../styles/mixins';

.accordion__item {
  margin-bottom: 0.5rem;
  border: 1px solid var(--color-background-dark);
  border-radius: var(--card-border-radius);

  &--border-primary {
    border-color: var(--color-primary);
  }
}

.accordion__item-header {
  padding: 1rem 1.5rem;
  color: var(--color-secondary);
  background: var(--color-white);
  border-radius: var(--card-border-radius);

  @include mixins.print-grayscale;

  .accordion__item:not(.accordion__item--disabled) &:hover {
    color: var(--color-secondary-light);
    cursor: pointer;
  }
}

.accordion__item--disabled .accordion__item-header {
  color: var(--color-secondary-grey);
}

.accordion__item-content {
  padding: 1.5rem;
  background: var(--color-white);
  border-top: 1px solid var(--color-background-dark);
  border-bottom-right-radius: var(--card-border-radius);
  border-bottom-left-radius: var(--card-border-radius);
}
