@use '../../styles/bootstrap-utility/breakpoints';

.section {
  padding: 0 0.5rem;
  overflow: hidden;
  background: var(--color-background);

  @include breakpoints.media-breakpoint-up(md) {
    padding: 0 1rem;
  }

  @include breakpoints.media-breakpoint-up(lg) {
    padding: 0 2.5rem;
  }
}
