@use '../../../styles/bootstrap-utility/breakpoints';

.container-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  position: relative;
  display: flex;
  flex-grow: 1;
  overflow: auto;
  background: var(--color-background);
}

.main {
  position: relative;
  flex: 1;
  max-width: 100%; // 100% is width without scrollbar, vw is with the scrollbar

  @include breakpoints.media-breakpoint-up(lg) {
    max-width: calc(100% - 8.75rem); // 100% - sidenav width
  }
}

.main__breadcrumbs {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.main__content {
  min-width: 375px;
  max-width: 95rem;
  padding: 1.25rem 0 2.5rem;
  margin: 0 auto;
}

.main__logos {
  position: absolute;
  top: 0.125rem;
  right: 0;
}
