@use '../../../styles/mixins';

.form-label {
  display: block;

  &--hidden {
    @include mixins.visually-hidden;
  }

  &--hidden-keep-space {
    visibility: hidden;
  }
}

.form-label__inner {
  color: var(--color-text-muted);
}

.form-label__required {
  margin-left: 0.25rem;
  font-size: 0.875rem;
  color: var(--color-important-main);

  @include mixins.print-grayscale;
}

.form-label--small {
  font-size: 0.875rem;
}
