@use '../../../../../styles/mixins';

.selector__input {
  @include mixins.visually-hidden;
}

.selector__item {
  display: flex;
  height: 2.5rem;

  --global-outline-offset: -2px;
}

.selector__item-label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 1.25rem;
  font-size: 0.875rem;
  color: var(--color-text-muted);
  white-space: nowrap;
  cursor: pointer;
  background-color: var(--color-bg-subtle);
  border: 1px solid var(--color-border-contrast);

  .selector__item:first-of-type & {
    margin-left: 0;
    border-top-left-radius: var(--border-radius-default);
    border-bottom-left-radius: var(--border-radius-default);
  }

  .selector__item:last-child & {
    border-top-right-radius: var(--border-radius-default);
    border-bottom-right-radius: var(--border-radius-default);
  }

  .selector__item--disabled & {
    color: var(--color-text-disabled);
    cursor: unset;
    background-color: var(--color-bg-disabled);
  }

  .selector__item--checked & {
    color: var(--color-text-inverted);
    background-color: var(--color-primary-main);
    border-top-color: var(--color-primary-main);
    border-bottom-color: var(--color-primary-main);
  }
}
