.hide-on-scroll {
  --animation-time: 0.2s;
  --animation-ease: ease-in-out;

  display: grid;
  grid-template-rows: 1fr; // we can transition from 0fr to 1fr
  grid-template-columns: 1fr; // we can transition from 0fr to 1fr
  opacity: 1;
  transition: opacity var(--animation-time) var(--animation-ease), translate var(--animation-time) var(--animation-ease),
    grid-template-rows 0s var(--animation-ease), grid-template-columns 0s var(--animation-ease);
  translate: none;
}

.hide-on-scroll--hidden:not(:focus-within) {
  grid-template-rows: 0fr;
  grid-template-columns: 0fr;
  pointer-events: none;
  opacity: 0;
  transition: opacity var(--animation-time) var(--animation-ease), translate var(--animation-time) var(--animation-ease),
    grid-template-rows 0s var(--animation-ease) var(--animation-time),
    grid-template-columns 0s var(--animation-ease) var(--animation-time);

  &.hide-on-scroll--down {
    translate: 0 100%;
  }

  &.hide-on-scroll--up {
    translate: 0 -100%;
  }

  &.hide-on-scroll--left {
    translate: -100% 0;
  }

  &.hide-on-scroll--right {
    translate: 100% 0;
  }
}

.hide-on-scroll__content {
  overflow: hidden;
}
