{
  "presets": [["@babel/preset-react", { "runtime": "automatic", "useBuiltIns": "usage" }]],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "runtime": "automatic"
      }
    ]
  ]
}
