@use '../../styles/mixins';
@use '../../styles/bootstrap-utility/breakpoints';

$stepper-transition: 150ms ease;
$stepper-step-bg: var(--color-bg-subtle);
$stepper-step-bg-hover: var(--color-bg-disabled);
$stepper-step-bg-active: var(--color-primary-main);
$stepper-step-bg-active-hover: var(--color-primary-active);

.stepper__nav {
  display: flex;
  margin: 0;
  overflow-x: auto;
  background-color: $stepper-step-bg;
  border-radius: 4px;

  .stepper--card & {
    border-radius: 0;
  }
}

.stepper__nav-item {
  display: flex;
  align-items: center;
  color: var(--color-text-default);
  white-space: nowrap;
  transition: $stepper-transition;
  transition-property: background-color, color;

  @include mixins.print-grayscale;

  &--active {
    color: var(--color-text-inverted);
    background-color: $stepper-step-bg-active;

    &:hover:not(.stepper__nav-item--disabled) {
      background-color: $stepper-step-bg-active-hover;
    }
  }

  &:first-of-type {
    border-radius: 4px 0 0 4px;

    .stepper--card & {
      border-radius: 4px 0 0;
    }
  }
}

.stepper__nav-item-inner {
  @include mixins.button-reset;

  --global-outline-offset: -4px;
  --global-outline-color: var(--color-primary-main);

  display: flex;
  align-items: center;
  padding: 0.625rem;

  .stepper__nav-item--active & {
    --global-outline-color: var(--color-bg-default);
  }
}

.stepper__nav-item-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--color-text-muted);
  background-color: var(--color-bg-default);
  border-radius: 10rem;
  transition: $stepper-transition;
  transition-property: color, background-color;

  .stepper__nav-item:hover:not(.stepper__nav-item--disabled, .stepper__nav-item--active) & {
    color: var(--color-text-inverted);
    background-color: var(--color-primary-active);
  }
}

.stepper__nav-item-label {
  padding-left: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  transition: $stepper-transition;
  transition-property: color;

  .stepper__nav-item:hover:not(.stepper__nav-item--disabled, .stepper__nav-item--active) & {
    color: var(--color-primary-active);
  }
}

.stepper__nav-item-arrow {
  background-color: $stepper-step-bg;
  border: 20px solid var(--color-transparent);
  border-right: 0;
  border-left-color: $stepper-step-bg-active;
  transition: $stepper-transition;
  transition-property: border-left-color;

  .stepper__nav-item--active:hover:not(.stepper__nav-item--disabled) & {
    border-left-color: $stepper-step-bg-active-hover;
  }
}

.stepper__step {
  display: none;
  padding: 1rem 0;

  @include breakpoints.media-breakpoint-up(lg) {
    padding: 1.5rem 0;
  }

  &--current {
    display: block;
  }

  .stepper--card & {
    padding: 0;
  }
}
