.tabs__nav {
  display: flex;
  align-items: center;
  margin: 0;
  overflow-y: auto;
  list-style: none;
  background-color: var(--color-bg-muted);
}

.tabs__nav-item--current {
  background-color: var(--color-bg-default);
  border-top-left-radius: var(--border-radius-default);
  border-top-right-radius: var(--border-radius-default);
}

a.tabs__nav-link:not(:disabled) {
  display: inline-block;
  padding: 1rem;
  color: var(--color-text-default);
  white-space: nowrap;

  .tabs__nav-item--current & {
    color: var(--color-primary-main);
  }

  &:hover:not(:disabled) span span {
    text-decoration: none;
  }

  .tabs__nav-item:not(.tabs__nav-item--current) &:hover {
    background-color: var(--color-bg-subtle);
  }
}
