.dropdown {
  z-index: 20;
  display: flex;
  flex-direction: column;
  margin: 0;
  background: var(--color-white);
  border: 1px solid #dbdfe2;
  border-radius: 4px;
}

.dropdown__item {
  padding: 0.5rem 0.75rem;
  color: var(--color-black);
  border-radius: 0;

  &--active {
    background-color: var(--color-primary-3);
  }

  &:hover,
  &:focus-visible {
    background-color: var(--color-primary-1);
    outline: 0;
  }
}
