@use '../../../styles/mixins';

.radio {
  display: inline-flex;

  @include mixins.print-grayscale;

  &:hover:not(.radio--disabled) {
    cursor: pointer;
  }
}

.radio__input {
  @include mixins.visually-hidden;
}

.radio__indicator {
  position: relative;
  display: inline-block;
  min-width: 1.125rem;
  height: 1.125rem;
  margin-top: 0.125rem;
  margin-right: 0.625rem;
  background-color: var(--color-bg-default);
  border: 1px solid var(--color-border-contrast);
  border-radius: 50%;
  transition: 150ms ease;
  transition-property: border-color;

  .radio__input:not(:disabled) + &--hover,
  .radio__input:hover:not(:disabled) + &,
  .radio__input:focus:not(:disabled) + & {
    border: 1px solid var(--color-primary-main);
    outline: var(--color-primary-main) solid 1px;
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0.75rem;
    height: 0.75rem;
    content: '';
    background: var(--color-transparent);
    border: 1px solid var(--color-transparent);
    border-radius: 50%;
    transition: 150ms ease;
    transition-property: background-color, border-color;
    transform: translate(-50%, -50%);
  }

  [type='radio']:checked + &::after {
    background: var(--color-primary-main);
    border-color: var(--color-primary-main);
  }

  .radio__input:disabled + & {
    background-color: var(--color-bg-disabled);
  }
}

.radio__extra-content {
  padding-bottom: 1rem;
  padding-left: 1.75rem;
}
