.skeleton-block {
  display: block;
  /* stylelint-disable-next-line max-line-length */
  background:
    linear-gradient(
      to right,
      rgb(127 128 135 / 20%) 8%,
      rgb(127 128 135 / 30%) 18%,
      rgb(127 128 135 / 20%) 33%
    );
  background-size: 1000px 100px;
  border-radius: 4px;
  animation: wave-lines 2s infinite ease-in-out;
}

$widths: 100, 90, 80, 75, 60, 50, 40, 25, 20;

@each $size in $widths {
  .skeleton-block--w-#{$size} {
    width: #{$size}#{'%'};
  }
}

$heights: 21, 24, 29, 40, 50;

@each $size in $heights {
  .skeleton-block--h-#{$size} {
    height: #{$size}#{'px'};
  }
}

@keyframes wave-lines {
  0% {
    background-position: -400px 0;
  }

  100% {
    background-position: 600px 0;
  }
}
