@use '../../../styles/mixins';

.form-helper {
  font-size: 0.875rem;
  color: var(--new-color-text-subtle);

  @include mixins.print-grayscale;
}

.form-helper--valid {
  color: var(--new-color-positive-main);
}

.form-helper--error {
  color: var(--new-color-important-main);
}
