$tooltip-max-width: (
  'none': none,
  'small': 10rem,
  'medium': 15rem,
  'large': 30rem,
);

.tooltip {
  z-index: 20;
  padding: 0.25rem 0.5rem;
  word-break: break-word;
  background-color: var(--color-white);
  filter: drop-shadow(0 4px 10px rgb(0 0 0 / 14%));
  border-radius: 4px;
}

@each $name, $width in $tooltip-max-width {
  .tooltip--#{$name} {
    max-width: $width;
  }
}

.tooltip__arrow {
  position: absolute;
  border-style: solid;
  border-width: 6px;

  .tooltip[data-placement='top'] &,
  .tooltip[data-placement='top-start'] &,
  .tooltip[data-placement='top-end'] & {
    bottom: -12px;
    border-color: var(--color-white) var(--color-transparent) var(--color-transparent) var(--color-transparent);
  }

  .tooltip[data-placement='bottom'] &,
  .tooltip[data-placement='bottom-start'] &,
  .tooltip[data-placement='bottom-end'] & {
    top: -12px;
    border-color: var(--color-transparent) var(--color-transparent) var(--color-white) var(--color-transparent);
  }

  .tooltip[data-placement='right'] &,
  .tooltip[data-placement='right-start'] &,
  .tooltip[data-placement='right-end'] & {
    left: -12px;
    border-color: var(--color-transparent) var(--color-white) var(--color-transparent) var(--color-transparent);
  }

  .tooltip[data-placement='left'] &,
  .tooltip[data-placement='left-start'] &,
  .tooltip[data-placement='left-end'] & {
    right: -12px;
    border-color: var(--color-transparent) var(--color-transparent) var(--color-transparent) var(--color-white);
  }
}

.tooltip__trigger:not(button, a) {
  cursor: default;
  user-select: text;
}

.tooltip__trigger--click {
  cursor: pointer;
}
