@use '../../styles/mixins';

.collapse__heading {
  width: 100%;
  margin-bottom: 0.5rem;
  cursor: pointer;

  @include mixins.button-reset;
}

.collapse__title {
  color: var(--color-text-secondary);
}

.collapse__icon {
  color: var(--color-primary);
  transition: transform 0.3s ease-in-out;

  .collapse--is-open & {
    transform: rotate(180deg);
  }
}
