.scroll-fade {
  position: relative;
  display: block;
  max-height: inherit;

  &::before,
  &::after {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
    content: '';
  }

  &.has-scrolled-to-top-20 {
    &::before {
      /* stylelint-disable-next-line */
      background: linear-gradient(to top, var(--color-bg-default) 0, rgba(255, 255, 255, 0) 20%);
    }
  }

  &.has-scrolled-to-bottom-20 {
    &::after {
      /* stylelint-disable-next-line */
      background: linear-gradient(to bottom, var(--color-bg-default) 0, rgba(255, 255, 255, 0) 20%);
    }
  }

  &.has-scrolled-to-top-10 {
    &::before {
      /* stylelint-disable-next-line */
      background: linear-gradient(to top, var(--color-bg-default) 0, rgba(255, 255, 255, 0) 10%);
    }
  }

  &.has-scrolled-to-bottom-10 {
    &::after {
      /* stylelint-disable-next-line */
      background: linear-gradient(to bottom, var(--color-bg-default) 0, rgba(255, 255, 255, 0) 10%);
    }
  }
}

.scroll-fade__inner {
  display: block;
  height: 100%;
  max-height: inherit;
  overflow-x: hidden;
  overflow-y: auto;

  .scroll-fade--custom-scroll & {
    &::-webkit-scrollbar {
      width: 6px;
      background-color: var(--color-bg-default);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--color-border-contrast);
      border-radius: 100px;

      &:hover {
        background-color: rgb(143, 145, 168, 70%); /* stylelint-disable-line */
      }
    }

    &::-webkit-scrollbar-track {
      background-color: var(--color-bg-default);
    }
  }
}
