@use '../../styles/variables';
@use '../../styles/mixins';

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--color-white);
  border: 1px solid var(--color-background-dark);
  border-radius: var(--card-border-radius);
}

.card--borderless {
  border: none;
  border-radius: 0;
}

.card--no-border-radius-top {
  border-top-left-radius: 0;
}

.card--no-border-radius-right {
  border-top-right-radius: 0;
}

.card--no-border-radius-bottom {
  border-bottom-right-radius: 0;
}

.card--no-border-radius-left {
  border-bottom-left-radius: 0;
}

.card--success,
.card--warning,
.card--error {
  border-width: 2px;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-radius: 0;
}

.card--success,
.card--success-top {
  border-color: var(--color-success);

  @media print {
    border-color: var(--color-borders-dark);
  }
}

.card--warning,
.card--warning-top {
  border-color: var(--color-warning);

  @media print {
    border-color: var(--color-borders-dark);
  }
}

.card--error,
.card--error-top {
  border-color: var(--color-error);

  @media print {
    border-color: var(--color-borders-dark);
  }
}

.card--success-top,
.card--warning-top,
.card--error-top {
  border-width: 2px;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-radius: 0;
}

@each $color in variables.$card-border-colors {
  .card--border-#{$color} {
    border-color: var(--color-#{$color});
  }
}

.card__content {
  flex: 1 1 1px;

  @each $spacing in variables.$card-spacing {
    &--padding-#{$spacing} {
      padding: var(--card-padding-#{$spacing});
    }
  }
}

.card__header--default {
  color: var(--color-primary-1);
  background: var(--gradient-top-bottom);
}

.card__header--white {
  color: var(--color-secondary);
  background: var(--color-white);
  border-bottom: 1px solid var(--color-background-dark);
}

.card__header {
  @media print {
    color: var(--color-black);
    background: var(--color-white);
    border-bottom: 1px solid var(--color-background-dark);
  }

  @each $spacing in variables.$card-spacing {
    &--padding-#{$spacing} {
      padding: var(--card-padding-#{$spacing});
    }
  }
}

.card__header:first-of-type,
.card__content:first-of-type {
  border-start-start-radius: var(--card-border-radius);
  border-start-end-radius: var(--card-border-radius);
}

.card__header:last-child,
.card__content:last-child {
  border-end-start-radius: var(--card-border-radius);
  border-end-end-radius: var(--card-border-radius);
}
