@use '../../styles/variables';
@use '../../styles/mixins';

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--color-bg-default);
  border: 1px solid var(--color-border-default);
  border-radius: var(--border-radius-default);
}

.card--borderless {
  border: none;
  border-radius: 0;
}

.card--no-border-radius-top {
  border-top-left-radius: 0;

  .card__content:first-of-type,
  .card__content:last-child {
    border-top-left-radius: 0;
  }
}

.card--no-border-radius-right {
  border-top-right-radius: 0;

  .card__content:first-of-type,
  .card__content:last-child {
    border-top-right-radius: 0;
  }
}

.card--no-border-radius-bottom {
  border-bottom-right-radius: 0;

  .card__content:first-of-type,
  .card__content:last-child {
    border-bottom-right-radius: 0;
  }
}

.card--no-border-radius-left {
  border-bottom-left-radius: 0;

  .card__content:first-of-type,
  .card__content:last-child {
    border-bottom-left-radius: 0;
  }
}

.card--success,
.card--warning,
.card--error {
  border-width: 2px;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-radius: 0;
}

.card--success,
.card--success-top {
  border-color: var(--color-positive-main);

  @media print {
    border-color: var(--color-border-contrast);
  }
}

.card--warning,
.card--warning-top {
  border-color: var(--color-warning-main);

  @media print {
    border-color: var(--color-border-contrast);
  }
}

.card--error,
.card--error-top {
  border-color: var(--color-important-main);

  @media print {
    border-color: var(--color-border-contrast);
  }
}

.card--success-top,
.card--warning-top,
.card--error-top {
  border-width: 2px;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-radius: 0;
}

.card__content {
  flex: 1 1 1px;

  @each $name, $spacing in variables.$card-spacing {
    &--padding-#{$name} {
      padding: $spacing;
    }
  }
}

.card__header--default {
  color: var(--color-text-inverted);
  background: var(--color-gradient-main);
}

.card__header--white {
  color: var(--color-text-muted);
  background: var(--color-bg-default);
  border-bottom: 1px solid var(--color-border-default);
}

.card__header {
  @media print {
    color: var(--color-text-default);
    background: var(--color-bg-default);
    border-bottom: 1px solid var(--color-border-default);
  }

  @each $name, $spacing in variables.$card-spacing {
    &--padding-#{$name} {
      padding: $spacing;
    }
  }
}

.card__header:first-of-type,
.card__content:first-of-type {
  border-start-start-radius: var(--border-radius-default);
  border-start-end-radius: var(--border-radius-default);
}

.card__header:last-child,
.card__content:last-child {
  border-end-start-radius: var(--border-radius-default);
  border-end-end-radius: var(--border-radius-default);
}
