@use '../../../styles/bootstrap-utility/breakpoints';

.header {
  z-index: 20;
  display: flex;
  min-height: 3.125rem;
  overflow: hidden;
  background: var(--color-white);
  box-shadow: 0 1px 2px rgb(0 0 0 / 14%);

  @include breakpoints.media-breakpoint-up(lg) {
    padding: 1rem 2.5rem;
  }
}

.header__toggle {
  --btn-outline-offset: -3px;
  --btn-outline-color: var(--color-white);

  padding: 0.5rem 0.625rem;
  margin: 0;
  border-radius: 0;

  @include breakpoints.media-breakpoint-up(lg) {
    display: none;
  }

  .header &:focus {
    border-radius: 0;
  }

  .header__toggle-icon {
    width: 2rem;
    font-size: 2rem;
  }
}

.header__logo {
  display: block;
  max-width: none;
  height: 2rem;

  @include breakpoints.media-breakpoint-up(lg) {
    height: 3rem;
  }
}

.header__logo-wrapper {
  display: flex;
  flex: 1 1 1px;
  align-items: center;
  margin-left: 1rem;

  @include breakpoints.media-breakpoint-up(lg) {
    margin-left: 0;
  }
}

.header__content {
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  border-right: 1px solid var(--color-background-dark);

  @include breakpoints.media-breakpoint-down(lg) {
    padding: 0 0.75rem;
  }
}

.header__logout {
  display: none;

  @include breakpoints.media-breakpoint-up(lg) {
    display: block;
    margin-left: 1.5rem;
  }

  &--mobile {
    display: block;
    align-self: center;
    margin: 0.75rem;

    @include breakpoints.media-breakpoint-up(lg) {
      display: none;
    }
  }
}
