$top-spacings: (
  '0': '0rem',
  '0-5': '0.5rem',
  '1': '1rem',
  '1-5': '1.5rem',
  '2': '2rem',
  'unset': 'unset',
);

.affix {
  z-index: var(--z-index-sticky);
}

.affix--sticky {
  position: sticky;
  transition: top 500ms cubic-bezier(0.86, 0, 0.07, 1);
  will-change: top;
}

.affix--static {
  position: static;
}

.affix--fixed {
  position: fixed;
  z-index: var(--z-index-fixed);
  max-height: 100vh;
}

@each $spacing, $value in $top-spacings {
  .affix--top-#{$spacing} {
    top: #{$value};

    &.affix--relative-to-header {
      top: calc(#{$value} + var(--header-bottom-height, 0rem));
    }
  }
  .affix--bottom-#{$spacing} {
    bottom: #{$value};
  }
  .affix--left-#{$spacing} {
    left: #{$value};
  }
  .affix--right-#{$spacing} {
    right: #{$value};
  }
}
