@use '../../styles/mixins';

.table {
  --table-bottom-border: 0.01px solid var(--color-border-contrast);
  --table-cell-horizontal-padding: 0.875rem;
  --table-cell-vertical-padding: 0.75rem;
  --table-cell-padding: var(--table-cell-vertical-padding) var(--table-cell-horizontal-padding);

  // 0.01px fix https://bugs.chromium.org/p/chromium/issues/detail?id=1201762
  --table-row-border: 0.01px solid var(--color-border-default);

  width: 100%;
  overflow-x: auto;
}

.table > table {
  width: 100%;
  padding: 0;
  border-spacing: 0;
  border-collapse: collapse;
  border: 0;

  @include mixins.table-cell-selector {
    padding: var(--table-cell-padding);
  }

  @include mixins.table-cell-selector(thead) {
    font-weight: 400;
    color: var(--color-text-muted);
    text-align: left;

    @include mixins.print-grayscale;

    &.th--sortable {
      cursor: pointer;
    }

    .sort__button {
      display: block;
    }

    .sort__icon {
      --icon-variation-size: 1.5rem;

      transition: 200ms ease;
      transition-property: color;

      &:hover {
        color: var(--color-primary-active);
      }
    }

    .sorted__icon--asc {
      color: var(--color-primary-active);
      transform: rotate(180deg);
    }

    .sorted__icon--desc {
      color: var(--color-primary-active);
      transition-duration: 600ms;
      transition-property: transform;
      transform: rotate(0);
    }
  }

  & > tbody > tr {
    // 0.01px fix https://bugs.chromium.org/p/chromium/issues/detail?id=1201762
    border-top: var(--table-row-border);

    &:first-of-type {
      border-color: var(--color-border-contrast);
    }

    &:last-child {
      border-bottom: var(--table-bottom-border);
    }

    &.table__row--border-hidden {
      --table-row-border: none;
      --table-bottom-border: none;
    }

    &.table__row--clickable:hover {
      cursor: pointer;
      background-color: var(--color-bg-subtle);
    }
  }

  @include mixins.table-cell-selector(tfoot) {
    font-weight: normal;
    text-align: left;
  }
}

.table--vertical-align-base-line > table {
  @include mixins.table-cell-selector {
    vertical-align: baseline;
  }
}

.table--hidden-bottom-border {
  --table-bottom-border: none;
}

.table--small {
  --table-cell-vertical-padding: 0.25rem;
  --table-cell-horizontal-padding: 0.5rem;
}

.table__expand {
  @include mixins.button-reset;
}

.table__row--group-header {
  --table-cell-padding: var(--table-cell-vertical-padding) var(--table-cell-horizontal-padding) 0;

  font-size: 0.875rem;
  color: var(--color-text-muted);
}

.table__row--group-item {
  --table-row-border: none;
  --table-cell-padding: 0 var(--table-cell-horizontal-padding);
}

.table__row--last-group-item {
  --table-cell-padding: 0 var(--table-cell-horizontal-padding) var(--table-cell-vertical-padding);
}

.filter__content {
  max-width: 20rem;
  max-height: 16rem;
  overflow: auto;
}

.filter__button {
  display: block;
}

.filter__icon {
  --icon-variation-size: 1.5rem;

  color: var(--color-text-disabled);
  transition: 200ms ease;
  transition-property: color;

  &:hover,
  &--active {
    color: var(--color-primary-active);
  }
}
