@use '../mixins';

/* Mui calendar picker */

div.MuiCalendarPicker-root {
  margin: initial;
  border-radius: var(--border-radius-default);
  box-shadow: 0 2px 4px rgb(0 0 0 / 8%);

  @include mixins.print-grayscale;

  div.MuiPickersFadeTransitionGroup-root {
    .MuiPickersCalendarHeader-label {
      text-transform: capitalize;
    }
  }

  button.MuiPickersDay-root.Mui-highlighted {
    font-weight: 700;
    color: var(--color-primary-main);
    background-color: var(--color-primary-highlight-subtle);
  }

  button.MuiPickersDay-root.Mui-selected {
    font-weight: 700;
    color: var(--color-white);
    background-color: var(--color-primary-main);
  }
}
