/* Mui datepicker */
div.MuiClockPointer-root,
div.MuiClock-pin,
div.PrivatePickersYear-root button.Mui-selected,
div.MuiDayPicker-weekContainer button.Mui-selected {
  background-color: var(--color-primary);
}

div.MuiClockPointer-thumb {
  border-color: var(--color-primary);
}

div.PrivatePickersYear-root button.Mui-selected:hover,
div.MuiDayPicker-weekContainer button.Mui-selected:hover {
  background-color: var(--color-secondary);
}
