.tabs {
  background: var(--color-bg-default);
  border: 1px solid var(--color-border-default);
  border-radius: var(--border-radius-default);
}

.tabs__content {
  transition: height 300ms cubic-bezier(0.22, 0.61, 0.35, 1);
}
