// we increase specificity to override default material-symbols-xxx class
span.icon {
  width: var(--icon-variation-size, 1.5rem);
  font-size: var(--icon-variation-size, 1.5rem);
  font-variation-settings: 'FILL' var(--icon-variation-fill, 0);
  font-weight: var(--icon-variation-weight, inherit);
  font-optical-sizing: auto;
}

.icon.icon--block {
  display: block;
}

.icon.icon--inline {
  display: inline;
  vertical-align: text-top;
}
