@use '../../../styles/mixins';

.text-editor__inner {
  display: flex;
  flex-direction: column;
  padding: 0.75rem 1rem;
  background-color: var(--new-color-bg-default);
  border: 1px solid var(--new-color-border-contrast);
  border-radius: var(--border-radius-default);

  .text-editor--invalid & {
    border-color: var(--new-color-important-main);
  }

  .text-editor--focused & {
    border-color: var(--new-color-primary-active-subtle);
    outline: none;
    box-shadow: 0 0 0 1px var(--new-color-primary-active-subtle);
  }
}

.text-editor__controls {
  display: flex;
  column-gap: 0.25rem;
}

.text-editor__control-block {
  display: flex;
  column-gap: 0.25rem;
}

.text-editor__content {
  padding-top: 1rem;
  color: var(--new-color-text-default);
}

.style-button {
  @include mixins.button-reset;

  display: flex;
  color: var(--new-color-text-muted);

  &:hover {
    color: var(--new-color-text-default);
  }
}

.style-button--active {
  color: var(--new-color-text-default);
  background-color: var(--new-color-bg-subtle);
  border-radius: var(--border-radius-default);
}
