name: Test and lint Angular

on:
  pull_request:
    branches:
      - main
      - rc
      - feat/330-angular-support
    paths-ignore:
      - 'libs/react-components/**'
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
      - name: Navigate to Angular Library module
        run: cd libs/angular-components
      - name: Install dependencies
        run: npm ci --cache .npm --prefer-offline
      - name: Lint
        run: npm run lint:ci

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 'lts/*'
      - name: Navigate to Angular Library module
        run: cd libs/angular-components
      - name: Install dependencies
        run: npm ci --cache .npm --prefer-offline
      - name: Test
        run: npm run test
